.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.inputText {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1.5px solid gray;
}

.submitButton {
  padding: 8px 15px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 1.5px solid gray;
}

.todoList li {
  width: 10%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todoList li input {
  padding: 7px;
}